body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #535353;
}

header{
    margin: 10px 50px 0px 50px;
}

.logo{
    /* float: left; */
    display: inline;
}

nav{
    float: right;
    margin: 60px 30px 0 0;
    padding-right: 100px;
}

nav ul{
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: #2B343D;
    font-size: 14px;
    font-weight: 700;
}

nav ul li{
    display: inline;
    padding-left: 35px;
}

main{
    background-color: #2B343D;
    width: 100%;
    height: 353px;
    color: white;
}

.left{
    float: left;
    width: 40%;
    padding-left: 65px;
}

.left h1{
    font-size: 24px;
    font-weight: 400;
    padding-top: 55px;
}

.left p{
    color: rgb(96,115,129);
    font-size: 22px;
    font-weight: 400;
}

.right{
    float: left;
    width: 40%;
    padding-right: 65px;
}

.flags{
    margin-left: 35px;
}

.flags ul{
    list-style: none;
    margin: 4px 0 0 0;
}

.flags ul li{
    display: inline;
}

.boxes{
    margin: 10px 50px;
}

.box1{
    float: left;
    width: 45%;
    background-color: rgb(204,206,208);
    color: rgb(41, 52, 60);
    padding: 14px 16px;
}

.box1 h2, .box2 h2, .box3 h2, .box4 h2{
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.box1 ul, .box2 ul, .box3 ul, .box4 ul{
    padding-left: 24px;
    margin: 0;
}

.box1 ul li a, .box2 ul li a, .box3 ul li a, .box4 ul li a{
    text-decoration: none;
    color:  rgb(83, 83, 83);
    font-size: 12px;
}

.box1 ul li a:hover, .box2 ul li a:hover, .box3 ul li a:hover, .box4 ul li a:hover{
    color: #9aa4ad;
}

.box1 p, .box3 p, .box4 p{
    font-size: 12px;
    text-align: justify;
}

.box2{
    float: right;
    width: 45%;
    background-color: rgb(204,206,208);
    color: rgb(41, 52, 60);
    padding: 14px 16px;
}

.box2 h2{
    margin-bottom: 22px;
}

.box2 ul li a, .box3 ul li a{
    font-weight: 700;
}

.box3{
    margin-top: 9px;
    float: left;
    width: 45%;
    background-color: rgb(204,206,208);
    color: rgb(41, 52, 60);
    padding: 14px 16px;
}

.box3 p{
    margin-bottom: 0;
}

.box4{
    margin-top: 9px;
    float: right;
    width: 45%;
    background-color: rgb(138,144,148);
    color: rgb(41, 52, 60);
    padding: 14px 16px;
}

footer{
    float: left;
    margin: 10px 50px 0 50px;
}

footer p{
    color: rgb(42, 52, 61);
    font-size: 12px;
}

footer a{
    color: rgb(143, 31, 68);
    text-decoration: none;
}