.header h2{
    color: purple;
    padding-bottom: 19px;
    border-bottom: 2px solid black;
    width: 50%;
}

.header p{
    font-weight: 600;
}

form{
    background-color: rgb(148, 104, 46);
    padding: 20px;
}

fieldset legend{
    color: rgb(44, 44, 204);
    font-weight: 700;
    font-size: 18px;
}

input, select{
    margin-bottom: 15px;
}

.address{
    
}

.pinfo span{
    padding-right: 10px;
}

.pinfo textarea{
    resize: none;
    height: 50px;
    margin-bottom: 15px;
}

.part1{
    float: left;
    width: 33.33%;
}

.part2{
    float: left;
    width: 33.33%;
}

.part3{
    float: left;
    width: 33.33%;
}

.comments textarea{
    width: 500px;
    height: 150px;
}

.footer a{
    color: red;
    text-decoration: none;
}