*{
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

/* .img-tag img{
    position: relative;
    left: 100px;
} */

.left{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
}

.flags-top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 15px;
    border-bottom: 2px dotted grey;    
}

.flags-top a:nth-child(2), .flags-top a:nth-child(3){
    padding-left: 5px;
}

.shop-bottom{
    display: flex;
    align-items: center;    
    justify-content: space-around;
    padding-top: 8px;
}

.shop-bottom span{
    display: flex;
    align-items: center;
    color: rgb(24,183,212);
}

.shop-bottom p{
    padding-left: 10px;
    font-weight: bold;
    color: rgb(112,110,110);
}

.right{
    width: auto;
    border-left: 2px dotted grey;
    padding-left: 5px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right ul{
    transform: translateX(20px);
    list-style: url(images/nav_bullet.png);
}

.right ul li a{
    color: rgb(112,110,110);
}

main{
    display: flex;
    justify-content: space-between;
}

main .left-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

main ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main ul li{
    /* list-style: inside url(images/nav_bullet.png); */
    padding: 5px;
    transform: translateX(10px);
}

main ul li::before{
    background-image: url("images/nav_bullet.png");
}

main ul li a{
    color: rgb(112,110,110);
    text-decoration: none;
}

main .right-main{
    display: flex;
    align-items: center;
    justify-content: center;
}