*{
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

.img-tag img{
    position: relative;
    z-index: 1;
}

.left{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
}

.flags-top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 15px;
    border-bottom: 2px dotted grey;    
}

.flags-top a:nth-child(2), .flags-top a:nth-child(3){
    padding-left: 5px;
}

.shop-bottom{
    display: flex;
    align-items: center;    
    justify-content: space-around;
    padding-top: 8px;
}

.shop-bottom span{
    display: flex;
    align-items: center;
    color: rgb(24,183,212);
}

.shop-bottom p{
    padding-left: 10px;
    font-weight: bold;
    color: rgb(112,110,110);
}

.right{
    width: auto;
    border-left: 2px dotted grey;
    padding-left: 5px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right ul{
    transform: translateX(20px);
    list-style: url(images/nav_bullet.png);
}

.right ul li a{
    color: rgb(112,110,110);
}

main{
    display: flex;
    justify-content: space-between;
    border-top: 4px solid rgba(255, 238, 0, 0.671);
    border-bottom: 4px solid rgb(221, 219, 219);
    position: relative;
    top: -25px;
}


main .left-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

main ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
}

main ul li{
    list-style: inside url(images/nav_bullet.png);
    padding: 5px;
    transform: translateX(10px);
}

main ul li a{
    color: rgb(112,110,110);
    text-decoration: none;
}

main .right-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .right-main img{
    width: 100%;
}

.big-main{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.first-section{
    border: 1px solid grey;
}

.head{
    background: rgb(130,130,130);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.head h3{
    font-weight: 200;
    color: white;
}

.body ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body ul li{
    list-style: inside url(images/nav_bullet.png);
    padding: 5px;
    transform: translateX(10px);
}

.body ul a{
    text-decoration: none;
    color: rgb(20, 77, 104);
}

.second-section{
    border: 1px solid grey;
    margin-top: 2px;
}

.head-second{
    background: rgb(130,130,130);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.head-second h3{
    font-weight: 200;
    color: white;
}

.body-second{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.btn{
    background-image: linear-gradient(#FAA11F, #FCBF3D);
    padding: 2px 5px 2px 5px;
    margin-left: 3px;
    border: 1px solid #FAA11F;
    color: white;
}

.third-section{
    border: 1px solid grey;
    margin-top: 2px;
}

.featured{
    margin-left: 5px;
}

.featured-head{
    background-image: linear-gradient(#FAA11F, #FCBF3D);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #FAA11F;
    color: white;   
}

.feature1{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.featured-body{
    margin: 15px 10px;
}

.featured-body img{
    border: 1px solid darkgrey;
    padding: 10px 2px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.options{
    margin-top: 8px;
    margin-bottom: 7px;
}

.options .l1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options label{
    padding-right:10px;
}

.options select{
    width: 100px;
    margin-top: 1px;
}

.view{
    background-image: linear-gradient(rgb(130,130,130), rgb(85,82,82));
    border: 1px solid grey;
    padding: 2px 5px 2px 5px;
    color: white;
}

.view img{
    height: 12px;
    width: 12px;
    border: none;
    display: inline;
    padding: 0 5px 0 0;
}

.feature2{
    display: flex;
    margin-top: 20px;
}

.aside{
    margin-left: 5px;
    background: rgb(223, 224, 224);
}

.aside1{
    display: flex;
    margin-top: 16px;
    height: 50px;
}

.aside-head{
    background-image: linear-gradient(#FAA11F, #FCBF3D);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #FAA11F;
    color: white;   
}

.aside-body{
    margin: 15px 15px;
}

.aside-body img{
    border: 1px solid darkgrey;
    height: 80px;
    width: 60px;
}

.aside-des{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.aside-des h4:nth-child(1){
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: rgb(112,110,110);
}

.aside-des p{
    margin-bottom: 5px;
}

.aside-des h4:nth-child(2){
    padding-top: 55px;
}