*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, sans-serif, Arial;
}

header{
    background: url("img/slide_01.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}

ul{
    display: flex;
    justify-content: space-around;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    padding-left: 20px;
    text-transform: uppercase;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    color: white;
}

.intro{
    margin-bottom: 3px;
}

main h3{
    margin-bottom: 15px;
    font-size: 40px;
    text-transform: uppercase;
}

main p{
    margin-bottom: 25px;
    text-align: center;
}

.btn-green{
    background: url(img/blog-bg.png) no-repeat;
    background-size: cover;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
}

.btn-white{
    color: black;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
}

.section1{
    height: 400px;
}

.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: auto;
}

.main-section img{
    height: 4px;
    width: 55px;
    margin-top: 5px;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgrey;
    background: grey;
    -webkit-box-shadow: -5px -8px 15px -7px rgba(0,0,0,0.22);
    -moz-box-shadow: -5px -8px 15px -7px rgba(0,0,0,0.22);
    box-shadow: -5px -8px 15px -7px rgba(0,0,0,0.22);
    margin-left: 10px;
    height: 170px;
    color: white;
}

.card img{
    height: 30px;
    width: 30px;
}

.card:nth-child(1){
    margin-left: 0;
}

.card h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}

.card p{
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.section2{
    background: url("img/what-we-do-bg.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;   
    align-items: center;
}

.second-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-left{
    color: white;
    display: flex;
    flex-direction: column;
}

.second-left h3{
    margin-bottom: 10px;
    font-size: 20px;
}

.second-left p{
    margin-bottom: 20px;
    font-size: 14px;
}

.second-right{
    display: flex;
}

.second-right img{
    width: 150px;
    height: 150px;
}

.second-right img:nth-child(1){
    position: relative;
    right: -70px;
    z-index: 2;
}

.second-right img:nth-child(2){
    position: relative;
    top: -50px;
}

.second-right img:nth-child(3){
    position: relative;
    left: -100px;
    top: 50px;
    z-index: 1;
}

.section3{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3-links{
    margin-top: 50px;
}

.section3-links a{
    color: rgb(56, 51, 51);
}

.section3-links .green{
    color: #A4D28F;
}

.img-boxes{
    margin-top: 50px;
}

.img-boxes img{
    height: 150px;
    width: 150px;
    padding: 0 20px 20px 0;
}

.section4{
    background: url("img/blog-bg.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}

.fourth-section{
    margin-top: 50px;
}

.fourth-section h2{
    margin-bottom: 30px;
    border-bottom: 5px solid;
    width: 23%;
    padding-bottom: 5px;
    margin: 0 auto 50px auto;
}

.fourth-left .left-img{
    background: url("img/food1.jpg") no-repeat;
    background-size: cover;
    height: 250px;
    width: 330px;
    display: flex;
    align-items: flex-end;
}

.fourth-left .des-img, .right-img1 .des-img, .right-img2 .des-img{
    background: rgba(0,0,0,0.5);
    color: white;
    text-align: left;
    padding: 5px;
}

.fourth-left .des-img h3, .right-img1 .des-img h3, .right-img2 .des-img h3{
    font-size: 15px;
}

.fourth-left .des-img p, .right-img1 .des-img p, .right-img2 .des-img p{
    font-size: 12px;
    margin-top: 3px;
}

.fourth-right .right-img1{
    background: url("img/food2.jpg") no-repeat;
    background-size: cover;
    height: 125px;
    width: 330px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.fourth-right .right-img2{
    background: url("img/food3.jpg") no-repeat;
    background-size: cover;
    height: 125px;
    width: 330px;
    display: flex;
    align-items: flex-end;
}

.main-fourth{
    display: flex;
    justify-content: space-evenly;
}

.fifth-cards{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(219, 214, 214);
    color: white;
    height: 100px;
    width: 170px;
}

.card1 h3{
    color: #7da86a;
}

.card1 p{
    color: rgba(0, 0, 0, 0.466);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.section6{
    background: url("img/contact-bg.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;   
    align-items: center;
}

.sixth-section{
    margin-top: 50px;
}

.sixth-section h2{
    margin-bottom: 30px;
    border-bottom: 5px solid;
    width: 23%;
    padding-bottom: 5px;
    margin: 0 auto 50px auto;
}

.sixth-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input{
    padding: 10px;
    background: rgba(255,255,255,0.05);
    color: white;
    border: none;
}

form textarea{
    border: none;
    margin-top: 10px;
    padding: 10px;
    height: 150px;
    width: 370px;
    background: rgba(255,255,255,0.05);
    color: white;
}

.form-btn{
    float: left;   
}

footer{
    margin-top: 50px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p{
    font-size: 12px;
}